/* App.css */
.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the input container */

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 50%; /* Set the input container width to 50% */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
}

.input-box {
  width: 100%; /* Input box takes up full width of its container */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

li button {
  background-color: #ff3333; /* Red color for delete button */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

li button:hover {
  background-color: #cc0000; /* Darker red on hover */
}
